<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koreait.todoApp.TodoMapper">
	<insert id="insTodo" parameterType="TodoVO">
		INSERT INTO t_todo
		( todo )
		VALUES
		( #{todo} )
	</insert>
	<delete id="delTodo" parameterType="TodoVO">
		DELETE FROM t_todo
		<if test="i_todo > 0">
			WHERE i_todo = #{i_todo}
		</if>
	</delete>
	
	<select id="selTodoList" resultType="TodoVO">
		SELECT * FROM t_todo
		ORDER BY i_todo
	</select>
</mapper>